.projectexp{
    background-color: #20242d;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* padding: 20px; */
    position: relative;
}
.projectexp img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 0 0;
}
.projectdetails{
    width: 400px;
    color: white;
    line-height: 35px;
}

.projectdetails .buton{
    padding: 10px;
    letter-spacing: 3px;
    border-radius: 30px 30px 30px 30px;
    border-color: rgba(0, 239, 254, 255);
    background-color: rgba(0, 239, 254, 255);
    margin-top: 25px;
    box-shadow: -2px -1px 15px -1px rgba(0, 239, 254, 255);
    color: black;

}