.project{
    background-color: #323846;
    height: 100vh;
    perspective: 1000px;
}

.projectimg{
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    max-width: 100%;
    border-radius: 15px;
}