.project{
    background-color: #323846;
    height: 100vh;
    perspective: 1000px;
}
.projectimg{
    border-radius: 15px;
}
.proshow img{
    padding: 10px;
    border: solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
}